@page
@model postgreslogviewer.Pages.LogsModel
@{
}

<div style="margin-left:2px;">
    <form method="post">

        <div class="form-group row">
            <div class="col-6 input-group-sm">
                <label asp-for="PathToCsvLogFile" style="color:#aaa" class="col-form-label display-3">Csv log file full path</label>
                <input asp-for="PathToCsvLogFile" class="form-control" type="text" placeholder="">
            </div>
            <div class="col-1 input-group-sm">
                <label asp-for="RowsPerPage" style="color:#aaa" class="col-form-label display-3">Page size</label>
                <input asp-for="RowsPerPage" class="form-control" type="text">
            </div>
            <div class="col-3 float-left input-group-sm">
                <label asp-for="Databases" style="color:#aaa" class="col-form-label display-3">Databases, comma-separated</label>
                <input asp-for="Databases" class="form-control" type="text" placeholder="">
            </div>
            <div class="float-right input-group-sm">
                <button class="btn btn-primary" style="margin-top:35px;" type="submit">Load</button>
            </div>
        </div>
        <div class="form-group row">
            <div class="input-group-sm" style="margin-left:15px;">
                <input type="checkbox" asp-for="ReplaceParams" id="Chbx" class="form-check-inline">
                <label style="color:#aaa;" for="Chbx">Replace parameters in query</label>
            </div>
        </div>

    </form>
</div>
<div class="card">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-sm table-active table-dark resultsTable" style="font-family: Consolas;">

            <thead>
                <tr>
                    <th scope="col">LOG TIME</th>
                    <th scope="col">USERNAME</th>
                    <th scope="col">DATABASE</th>
                    <th scope="col">QUERY</th>
                    @*<th scope="col">PARAMETERS</th>*@
                </tr>
            </thead>

            <tbody style="font-size:12px; font-family:Consolas">
                @{int rowId = 1; }
                @foreach (var log in Model.LogEntries)
                {
                    <tr>
                        <td scope="col" style="white-space: nowrap;">@log.A_TimeStamp</td>
                        <td scope="col">@log.B_User</td>
                        <td scope="col">@log.C_Database</td>

                        <td scope="col" id="statement-@rowId">
                            <pre style="max-width:999px; white-space:pre-wrap;"><code style="background-color: #272B30" class="pgsql"> @log.N_Statement </code></pre>
                            @if (!string.IsNullOrEmpty(log.O_Parameters))
                            {
                                <pre style="max-width:999px; white-space:pre-wrap;"><code style="background-color: #272B30" class="pgsql"> @log.O_Parameters </code></pre>

                            }
                        </td>
                        @*@if (!string.IsNullOrEmpty(log.O_Parameters))
                            {
                                var parameters = log.O_Parameters;
                                if (parameters.StartsWith("parameters:"))
                                {
                                    parameters = parameters.Substring(11).Trim();
                                }
                                var paramsList = parameters.Split(',');
                                parameters = string.Join(Environment.NewLine, paramsList);

                                <td scope="col">

                                  <pre><code class="cs"> @parameters</code></pre>
                                  <button name="btnreplace" rowId="@rowId" class="btn btn-dark" type="submit">&lt;&lt; Replace parameters in query</button>
                                </td>
                            }
                            else
                            {
                                <td scope="col"></td>
                            }*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
